name: Upload coverage to Codecov

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  contents: read
  actions: read

jobs:
  upload:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'main' &&
      github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Download coverage artifact from CI run
        uses: actions/download-artifact-from-workflow@v1
        with:
          workflow: CI
          name: coverage-report
          path: coverage
          run-id: ${{ github.event.workflow_run.id }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: |
            coverage/users-service/coverage.xml
            coverage/products-service/coverage.xml
            coverage/orders-service/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
